@import "utils.less";

.eb_header {
	position: fixed;
	top: 0;
	height: 40px;
	text-align: center;
	z-index: 900;
	box-shadow: 0 0 10px rgba(51, 51, 51, 0.70);
	background: transparent url('../img/noise.png') repeat; /*IE fix*/
	background: rgba(0, 0, 0, 0.70) url('../img/noise.png') repeat;
	width: 100%;
	left: 0;
	color: white;
	font-size:12px;
}

.header_form {
	margin-top: 16px;
}

.login_btn {
	float:right;
}

.logo_header{
	margin-top:8px;
	margin-bottom:10px;
}

.logo {
	height:46px;
}
