.eb_header {
	position: fixed;
	top: 0;
	height: 60px;
	text-align: center;
	z-index: 900;
	box-shadow: 0 0 10px rgba(51, 51, 51, 0.70);
	background: transparent url('../img/noise.png') repeat; /*IE fix*/
	background: rgba(0, 0, 0, 0.70) url('../img/noise.png') repeat;
	width: 100%;
	left: 0;
	color: white;
}