.login-form {
	margin-right:0px;
}

.ui-dialog-titlebar-close {
	background: url('../img/glyphicons/glyphicons_207_remove_2.png') no-repeat;
	border:none;
	width:20px;
}

.ui-dialog-title {
	color: #4A4A4A;
}

.ui-dialog-titlebar{
	background: transparent;
	border : none;
}

.ui-dialog{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	position:fixed;
}

.ui-widget-overlay {
	background: black;
	opacity: .7;
}

.detail_dialog{
	margin-left:auto;
	margin-right:auto;
	width:80%;
}