@import "utils.less";

.eb_instructions{
	top:0px;
	margin-top:-30px;
    margin-bottom:-15px;
	z-index:850;
}

.rotated_container{
	text-align:center;
}

.company_instructions{
    width: 300px;
    min-height: 70px;
    max-height: 70px;
    margin: 45px auto 0px auto;

}

.challenge_instructions{
    width: 360px;
    min-height: 100px;
    max-height: 100px;
    margin: 25px auto;
}

.postit {
    text-align: center;
    padding-top: 0px;
    position: relative;
    border: 1px solid #E8E8E8;
    border-top: 20px solid #fdfd86 !important;
    font-family: 'Reenie Beanie';
    font-size: 30px;
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-bottom-right-radius: 60px 5px;
    -o-border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: rgb(255,255,136); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}
.postit:after {
 	z-index:-1;
    content: "";
    position: absolute;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -o-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.rotate-1 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
.rotate1 {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
.rotate-2 {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}
.rotate2 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
.rotate-3 {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
.rotate3 {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}
