@import "utils.less";

.eb_project {
	.content {
		height: 520px;
		background-color: rgba(0, 0, 0, 0.015);
	}
	
	.body {
		height: 430px;
		overflow: hidden;
		
		a {
			text-decoration: none; 
		}
	}
	
	.tags {
		margin-top: 12px;
		
		.item {
			width: 24px;
			height: 24px;
			display: block;
			float: left;
			padding: 4px;
			
			&.income {
				background: url('../img/icon_income.png') no-repeat;
			}
			
			&.supply {
				background: url('../img/icon_supply.png') no-repeat;
			}
			
			&.cloud {
				background: url('../img/icon_cloud.png') no-repeat;
			}
		}
		
		
	}
	
	.footer {
	    -moz-user-select: none;
	    background-color: #63A239;
	    border: 5px double #FFFFFF;
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	    cursor: default;
	    display: block;
	    padding: 8px;
	    margin-left: 0;
	    position: relative;
	    text-align: center;
	    bottom: 0px;
	    left: -12px;
	    width: 100%;
	    color: white;
	}
	
	.PENDING {
		background-color: #F6BC2A;
	}
	
	.ACTIVE {
		background-color: #63A239;
	}
	
	.INACTIVE {
		background-color: #BF0000;
	}
}

.eb_add_project {
	.centered;
}

	
.load_more {
	display: block;
	width: 100%;
	float: right;
	padding-bottom: 30px;
	
	a {
		padding: 10px;
		margin: 10px;
		font-size: 120%;
	}
}

.eb_toolbar { 
	width: 100%;
	margin: 10px 36px 36px 36px;
	display: block;
	float: left;
	
	.searchbox {
		display: block;
		float: right;
	}
}

