@import "utils.less";

.eb_project {

	.content {
		background-color: rgba(0, 0, 0, 0.015);
	}
	
	.body {
		a {
			text-decoration: none; 
		}
	}
	
	.footer {
	    -moz-user-select: none;
	    background-color: #63A239;
	    border: 5px double #FFFFFF;
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	    cursor: default;
	    display: block;
	    padding: 8px;
	    margin-left: 0;
	    position: relative;
	    text-align: center;
	    bottom: 0px;
	    left: -12px;
	    width: 100%;
	    color: white;
	}

	.header {
	    -moz-user-select: none;
	    background-color: @titleBgColor;
	    opacity:0.9;
	    border: 0px solid black;
	    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.15);
	    cursor: default;
	    padding: 4px 20px;
	    position: relative;
	    top: -20px;
	    left: -20px;
	    text-align: left;
	    margin-top: 0px;
	    margin-bottom:0px;
	    width: 90%;
	    color: @darkColor;
	    line-height: 30px;
	    font-size:25px;
	}

	.seemore {
	    -moz-user-select: none;
	    background-color: #FFFFFF;
	    border-bottom-style: solid;
	    border-right-style: solid;
	    border-left-style: solid;
	    border-top-style: none;
	    border-color: rgb(221, 221, 221);
	    border-with: 0px 1px 1px 1px;
	    cursor: default;
	    display: block;
	    padding: 0px 2px 0px 2px;
	    margin: 1px auto -24px auto;
	    position: relative;
	    text-align: center;
	    color: #00B30F;
	    width:100px;
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	    font-size: 14px;
	}
	
	.tb_project{
		margin:0px 0px 60px 0px;
		padding:0px;
		border: solid @lineColor 1px;
		border-radius:6px;
	}

	.company{
		border-right: solid 1px @lineColor;
		background:white;
		box-shadow: 6px 0px 8px -2px rgba(0, 0, 0, 0.15);
		border-top-left-radius:6px;
		border-bottom-left-radius:6px;

		.company_header{
			text-align:center;
			border-bottom: dashed 1px rgb(221, 221, 221);
			padding-bottom:5px;
			padding-top:10px;
			background-color:@titleBgColor;
			opacity:0.9;
			border-top-left-radius:6px;
		}

		.company_name{
			font-size:22px;
			font-weight: bold;
			text-rendering: optimizelegibility;
			height:20px;
		}

		.company_intro{
			margin-left:0px;
			margin-top:10px;
			padding-left:10px;
		}

		.company_media{
		}

		.description{
			padding-right:15px;
			font-size:13px;
		}

		.more_link{
		}

		.metrics_footer{
			border-top: dashed 1px rgb(221, 221, 221);
			margin-top:10px;
			padding-top:4px;
			padding-bottom:5px;
			background-color:@titleBgColor;
			opacity:0.9;
			border-bottom-left-radius:6px;
		}
			
		.metric_pannel{
			text-align:center;
			padding-right:10px;
		}

		.metric_label{
			font-size:12px;
			color:rgb(117, 121, 111);
		}

		.metric_data{
			font-size:13px;
			color:rgb(11, 25, 2);
			font-weight: bold;
		}
	}

	.paper {
		padding: 0px;
		position: relative;
		background: white;
		background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 0px;
		background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 0px;
		background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 0px;
		-webkit-background-size: 100% 30px;
		-moz-background-size: 100% 30px;
		-ms-background-size: 100% 30px;
		background-size: 100% 30px;
	}

	.circle_circle::after {    
	    content: '';
	    display: block;
	    width: 20px;
	    height: 20px;
	    border-radius: 10px;
	    position: absolute;
	    background: rgba(255,255,255,1);
	    top: 5px;
	    left: 5px;
	    z-index: 10;
	    -webkit-box-shadow: 
	        inset 2px 2px 5px rgba(125,125,125,1),  
	        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
	        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
	        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
	    -moz-box-shadow: 
	        inset 2px 2px 5px rgba(125,125,125,1),  
	        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
	        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
	        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
	    box-shadow: 
	        inset 2px 2px 5px rgba(125,125,125,1),  
	        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),  
	        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
	        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
	}

	.challenges{
		position:relative;
		left:8px;
		bottom:0px;
		border-left:1px double #F8D3D3;
		height:271px;

		.challenge_inline{
			font-family: @handwrittingFontBold;
			color:@focusColor;
			text-align:middle;
			font-size:27px;
			max-width:457px;
			line-height:30px;
			padding: 9px 1px 0px 1px;
		}

		.challenge_postit {
			font-family: @handwrittingFont;
			font-size:28px;
			max-width:400px;
			padding: 5px;
		    margin: 5px auto 0 auto;
		    @postitColor1 : rgba(197,255,194,1);
		    @postitColor2 : rgba(237,242,255,1);

		    text-align: center;
		    position: relative;
		    border: 1px solid #E8E8E8;
		    border-top: 10px solid @postitColor1 !important;
		    -webkit-border-bottom-right-radius: 60px 5px;
		    -moz-border-bottom-right-radius: 60px 5px;
		    -o-border-bottom-right-radius: 60px 5px;
		    display: inline-block;
		    background: @postitColor1; /* Old browsers */
		    background: -moz-linear-gradient(-45deg, @postitColor1 77%, @postitColor2 100%); /* FF3.6+ */
		    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,@postitColor1), color-stop(100%,@postitColor2)); /* Chrome,Safari4+ */
		    background: -webkit-linear-gradient(-45deg, @postitColor1 77%,@postitColor2 100%); /* Chrome10+,Safari5.1+ */
		    background: -o-linear-gradient(-45deg, @postitColor1 77%,@postitColor2 100%); /* Opera 11.10+ */
		    background: -ms-linear-gradient(-45deg, @postitColor1 77%,@postitColor2 100%); /* IE10+ */
		    background: linear-gradient(-45deg, @postitColor1 77%,@postitColor2 100%); /* W3C */
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
		}
		.challenge_postit:after {
		 	z-index:-1;
		    content: "";
		    position: absolute;
		    right: -0px;
		    bottom: 20px;
		    width: 200px;
		    height: 25px;
		    background: rgba(0, 0, 0, 0.2);
		    -moz-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
		    -webkit-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
		    -o-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
		    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
		    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
		    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
		    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
		    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
		    transform: matrix(-1, -0.1, 0, 1, 0, 0);
		}

		.rewards{
			width: 100%;
    		text-align:right;
    		margin-bottom:5px;
    		border-bottom: dashed 1px rgb(221, 221, 221);
			padding-left:15px;
			padding-bottom:10px;
		}

		.list_challenges{
			margin-top:5px;
			padding-left:15px;
		}

		.challenge_icon{
			width:40px;
			height:40px;
		}

		.challenge_description{
			margin-top:5px;
			padding-top:5px;
			margin-bottom:3px;
		}

		.actions{
			margin-top:0px;
			margin-left:24px;
		}

		.action{
			height:18px;
		}

		.contributors{
			text-align:right;
		}
	}


	.PENDING {
		background-color: #F6BC2A;
	}
	
	.ACTIVE {
		background-color: #63A239;
	}
	
	.INACTIVE {
		background-color: #BF0000;
	}
}
