@bgColor: white;
@borderColor: lighten(black, 50%);
@textColor: lighten(black, 20%);
@menuItemBgColor: #b5deff;
@menuItemHoverBgColor: #b5deff;
@menuItemSelectedBgColor: #ffe09c;
@messageSuccessCollor: rgba(0, 138, 184, 1);
@messageWarnCollor: yellow;
@messageErrorCollor: red;
@empty: "";
// accessing JavaScript to get the current height of the body
@clientHeight: `document.body.clientHeight`;

.center {
	text-align: center;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}