@bgColor: white;
@borderColor: lighten(black, 50%);
@textColor: lighten(black, 20%);
@menuItemBgColor: #b5deff;
@menuItemHoverBgColor: #b5deff;
@menuItemSelectedBgColor: #ffe09c;
@messageSuccessCollor: rgba(0, 138, 184, 1);
@messageWarnCollor: yellow;
@messageErrorCollor: red;
@empty: "";
// accessing JavaScript to get the current height of the body
@clientHeight: `document.body.clientHeight`;

.holder {
	display: block;
	float: left;
}

.right {
	text-align: right;	
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.show {
	display: inline;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

.pleft-12 {
	padding-left: 12px;
}

.ptop-12 {
	padding-top: 12px;
}

.pright-12 {
	padding-right: 12px;
}

.pbottom-12 {
	padding-bottom: 12px;
}

.pleft-6 {
	padding-left: 6px;
}

.ptop-6 {
	padding-top: 6px;
}

.pright-6 {
	padding-right: 6px;
}

.pbottom-6 {
	padding-bottom: 6px;
}

.size50percent {
	width: 50%;
}

.size100percent {
	width: 100%;
}

.clear {
	clear:both;
}

.link {
	text-decoration: underline;
}

.fontSize1 {
	font-size: 1em;
}

.leaner-gradient(@image_url, @repeat: no-repeat, @startAt: top, @fromColor, @toColor) when (isurl(@image_url)) {
	background: @image_url @repeat, #dffefc; /* fallback for non-css3 browsers */
	background: @image_url @repeat, -webkit-gradient(linear, @startAt, bottom, from(@fromColor), to(@toColor)); /* for webkit browsers */
	background: @image_url @repeat, -webkit-linear-gradient(@startAt, @fromColor, @toColor); /* Chrome 10+, Saf5.1+ */
	background: @image_url @repeat, -moz-linear-gradient(@startAt,  @fromColor, @toColor); /* for firefox 3.6+ */ 
	background: @image_url @repeat, -ms-linear-gradient(@startAt, @fromColor,@toColor); /* IE10 */
	background: @image_url @repeat, -o-linear-gradient(@startAt, @fromColor, @toColor); /* Opera 11.10+ */
	background: @image_url @repeat, linear-gradient(@startAt, @fromColor, @toColor); /* W3C */	
}

.leaner-gradient(@image_url, @repeat: no-repeat, @startAt: top, @fromColor, @toColor) when not (isurl(@image_url)) {
	background: #dffefc; /* fallback for non-css3 browsers */
	background: -webkit-gradient(linear, @startAt, bottom, from(@fromColor), to(@toColor)); /* for webkit browsers */
	background: -webkit-linear-gradient(@startAt, @fromColor, @toColor); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(@startAt,  @fromColor, @toColor); /* for firefox 3.6+ */ 
	background: -ms-linear-gradient(@startAt, @fromColor,@toColor); /* IE10 */
	background: -o-linear-gradient(@startAt, @fromColor, @toColor); /* Opera 11.10+ */
	background: linear-gradient(@startAt, @fromColor, @toColor); /* W3C */	
}

.setmenuitem(@image_url, @repeat: no-repeat, @startAt: top, @fromColor, @toColor) when not (iscolor(@fromColor)) {
	cursor: pointer;
	background: transparent @image_url @repeat;
}

.setmenuitem(@image_url, @repeat: no-repeat, @startAt: top, @fromColor, @toColor) when (iscolor(@fromColor)), (iscolor(@toColor)) {
	cursor: pointer;
	background: transparent @image_url @repeat;
	&:hover {
		.leaner-gradient(@image_url, @repeat, @startAt, @fromColor, @toColor);
	}
}

.setMenuBackground(@image_url, @repeat: no-repeat, @startAt: top, @onHoverColor) when not (iscolor(@onHoverColor)) {
	cursor: pointer;
	background: transparent @image_url @repeat;
}

.setMenuBackground(@image_url, @repeat: no-repeat, @startAt: top, @onHoverColor) when (iscolor(@onHoverColor)) {
	cursor: pointer;
	background: transparent @image_url @repeat;
	&:hover {
		background-color: @onHoverColor;
	}
}


.icon-collapsed {
	.setMenuBackground(url('../img/menu_closed.png'), no-repeat scroll 7px 6px, top, @empty);
}

.icon-expanded {
	.setMenuBackground(url('../img/menu_open.png'), no-repeat scroll 8px 6px, top, @empty);
}

a.item-type-ACCESS_POINT {
	.setMenuBackground(url('../img/ap.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-EXCITER {
	.setMenuBackground(url('../img/exciter.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-SIGN {
	.setMenuBackground(url('../img/sign.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-FIXED_LOCATION {
	.setMenuBackground(url('../img/fixed_location.24.png'), no-repeat scroll 5px 7px, top, @menuItemHoverBgColor);				
}

a.item-type-UNKNOWN_WIRELESS {
	.setMenuBackground(url('../img/wireless_device.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-POWER {
	.setMenuBackground(url('../img/power.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-CAMERA {
	.setMenuBackground(url('../img/camera.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-IP_INFRASTRUCTURE {
	.setMenuBackground(url('../img/infrastructure.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-PATH {
	.setMenuBackground(url('../img/path.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-CONNECTION {
	.setMenuBackground(url('../img/network.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-VERTEX_NODE {
	.setMenuBackground(url('../img/vertex.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

a.item-type-UNKNOWN {
	.setMenuBackground(url('../img/unknown.24.png'), no-repeat scroll 5px 5px, top, @menuItemHoverBgColor);				
}

