<div class="row-fluid intro_stripe" ng-controller="IntroController">
    <div class="span1"></div>

    <div class="span10">
        <div class="row-fluid app_column">
            <div class="span5 step_1">
                <div class="width90percent">
                    <div class="rotate0 rotated_container">
                        <div class="postit">
                            <table style="margin-left:25px;">
                                <tbody>
                                <tr>
                                    <td rowspan="2" class="step_number">1.</td>
                                    <td>Tell us which entrepreneur</td>
                                </tr>
                                <tr>
                                    <td><span class="focus_2">YOU</span> want to be :</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form_login">
                        <p><label>My Name is </label><span class="field_input"><input class="xxx"></input></span></p>
                        <p><label>I live in </label><span class="field_input"><input class="xxx"></input></span></p>
                        <p><label>and my specialities are </label></p>
                        <p><span class="field_input"><input></input></span></p>
                        <p>&nbsp;</p>
                        <p><label>+ my email </label><span class="field_input"><input></input></p>
                        <p><label>+ my password </label><span class="field_input"><input></input></p>
                        <button class="btn btn-success">Now help me to fork a successful business</button>
                    </div>
                </div>
            </div>

            <div class="span4 step_2">
                <div class="rotate0 rotated_container">
                    <div class="postit">
                        <table style="margin-left:15px;">
                            <tbody>
                            <tr>
                                <td rowspan="3" class="step_number">2.</td>
                                <td>Start interacting</td>
                            </tr>
                            <tr>
                                <td>with <span class="focus_1">REAL</span> business</td>
                            </tr>
                            <tr>
                                <td colspan="2">opportunities</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="blank_1">&nbsp;</div>

                <div>
                    <table class="note_1">
                        <tbody>
                        <tr style="width:100%">
                            <td class="notice_text">
                                Discover a breakthrough innovation here
                            </td>
                            <td width="5%"></td>
                            <td class="notice_img">
                                <img src="img/arrow_5_tp.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="blank_2">&nbsp;</div>

                <div>
                    <table class="note_2">
                        <tbody>
                        <tr style="width:100%">
                            <td class="notice_text">
                                Submit your application to develop this innovation in a new market of your speciality
                            </td>
                            <td width="5%"></td>
                            <td class="notice_img">
                                <img src="img/arrow_2_tp.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="blank_3">&nbsp;</div>

                <div>
                    <table class="note_3">
                        <tbody>
                        <tr style="width:100%">
                            <td class="notice_text">
                                By bookmarking this opportunity, you will get notified of similar projects in the future
                            </td>
                            <td width="5%"></td>
                            <td class="notice_img">
                                <img src="img/arrow_3_tp.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="span3">
                <eb-project-card eb-object="exampleProject"/>
            </div>
        </div>
    </div>

    <div class="span1"></div>
</div>
