<div ng-controller="IssueListController">
	<div class="places">
		
	</div>
	<div class="distance">
		<a ng-click="distance(10)">10 Km around me</a>
		<a ng-click="distance(50)">50 Km around me</a>
		<a ng-click="distance(200)">200 Km around me</a>
	</div>
	<div class="searchBox">
		<input type="text" placeholder="Search" ng-model="query">
	</div>
	<ul>
		<li ng-repeat="issue in issueList.results | filter: query" ng-class="issue.impact" class="issue">
			<div>{{issue.name}}</div>
			<div>{{issue.createdAt | timeSince}}</div>
		</li>
	</ul>
</div>
