<div ng-controller='DialogController'>
	<section ng-controller="UserSignupLoginController" class="login-form">
		<h4 ng-hide="haveAccount">Create an account to get involved</h4>
		<h4 ng-show="haveAccount">Log in to get involved</h4>
    	<div class="form-horizontal">
    		<div class="control-group" ng-hide="haveAccount">
    			<label class="control-label" for="inputName">Name</label>
    			<div class="controls">
    				<input type="text" id="inputName" placeholder="Name" ng-model="owner.name"/>
    			</div>
    		</div>
    		<div class="control-group">
    			<label class="control-label" for="inputEmail">E-mail</label>
    			<div class="controls">
    				<input type="email" id="inputEmail" placeholder="E-mail" ng-model="owner.username"/>
    			</div>
    		</div>
    		<div class="control-group">
    			<label class="control-label" for="inputPassword">Password</label>
    			<div class="controls">
    				<input type="password" id="inputPassword" placeholder="Password" ng-model="owner.password"/>
    			</div>
    		</div>
			<div class="control-group">
				<p class="text-error">{{authorisationFailed}}</p>
			</div>

    		<div class="control-group" ng-hide="haveAccount">
    			<div class="controls">
    				<button class="btn" ng-click="signup(closeLoginSignupDialog)">Sign up</button>
    			</div>
    		</div>
    		<div class="control-group" ng-show="haveAccount">
    			<div class="controls">
    				<button class="btn" ng-click="login(closeLoginSignupDialog)">Log in</button>
    			</div>
    		</div>
    	</div>
    	<h4 ng-hide="haveAccount" class="text-info">Already have an account? <a href="" ng-click="haveAccount = !haveAccount">Log in now</a></h4>
    	<h4 ng-show="haveAccount" class="text-info">Don't have an account yet? <a href="" ng-click="haveAccount = !haveAccount">Sign up now</a></h4>
	</section>
</div>