<div class="eb_project_live">
	<div class="project_timeline">
		<ul class="row-fluid workflow">
			<li class="step1 active span2"><a href="#">Business pitch</a></li>
			<li class="step2 span2"><a href="#">Market Research</a></li>
			<li class="step3 span2"><a href="#">Partners discovery</a></li>
			<li class="step4 span2"><a href="#">Product adaptation</a></li>
			<li class="step5 span2"><a href="#">Customers acquisition</a></li>
			<li class="step6 span2"><a href="#">Initial launch</a></li>
		</ul>
	</div>
	<div class="live_body row-fluid">
		<div class="live_column span4">
			<div class="top_action">
				<div class="reward key_label">300$ to grab for this step</div>
				<div class="contribution key_label">35 contributions</div>
				<div class="end_date key_label">12 days left</div>
				<button class="submit_new btn btn-large" type="button">Submit your own market proposal now !</button>
			</div>
			<div class="fresh_entry">
				sdjhcbqsdjhcbqsdkjcbqsdjcbqsdkjbcjksdhbc
				qscjqsdbchjb
			</div>
		</div>
		<div class="live_content span8">
			<span>test jnkjnknjk n kjn kjn kjn kjn kjnk jnkj nkj nkj nkjn kjn kjn kj nkj n kjnj</span>
		</div>
	</div>
</div>
