<div class="eb_project_live row-fluid">
	<div class="span1"></div>

    <div class="span10">
    	<div class="app_column">
			<div class="project_timeline">
				<div class="row-fluid workflow">
					<div class="flow_step ongoing span2">
						<div class="step_label">Opportunity pitch</div>
						<div class="chevron_right">></div>
					</div>
					<div class="flow_step span2">
						<div class="step_label">Your elevator pitch</div>
						<div class="chevron_right">></div>
					</div>
					<div class="flow_step span2">
						<div class="step_label">Support your vision</div>
						<div class="chevron_right">></div>
					</div>
					<div class="flow_step span2">
						<div class="step_label">Introduce your team</div>
						<div class="chevron_right">></div>
					</div>
					<div class="flow_step span2">
						<div class="step_label">Proove your network</div>
						<div class="chevron_right">></div>
					</div>
					<div class="flow_step span2">				
						<div class="step_label">Proove local traction</div>
					</div>
					</div>
				</div>
			</div>

			<div class="live_header">
				<h2 class="project_title">Water Doping for thermic motorized vehicles</h2>
			</div>

			<div class="live_body row-fluid">


				<div class="live_column span4">
					<div class="top_action">
						<div class="key_label">
							<div class="figure">10</div>
							<div class="text">new branches to open</div>
						</div>
						<div class="key_label">
							<div class="figure">35</div>
							<div class="text">contributions</div>
						</div>
						<div class="key_label">
							<div class="figure">13</div>
							<div class="text">days to go</div>
						</div>
						<div class="button_start">
							<a href="#/projects/{{project.id}}/apply" class="submit_new btn btn-large">Apply to create your own branch now !</a>
						</div>
					</div>

					<div class="discover_contribution">
						<h4>Discover previous contributions</h4>
					</div>

					<div class="fresh_entry">
						<div class="entry_body">
							<div class="row-fluid">
								<div class="vision_title span10">In Rio for middle class</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a>
								</div>
							</div>
							<div class="vision">
								<span>
									This innovation has a great market in Rio, where half of the people use bicycles because they can not afford oil. the main point would be to make strategic partnership with a key distributor of mechanical pieces and to secure the innovation by having local factory producing the engine.
								</span>
							</div>
							<div class="supporting_data_title">Supporting data:</div>
							<div class="row-fluid">
								<div class="supporting_data span9 offset1"><i class="icon-chevron-right"></i>&nbsp;70% of bycycle in Rio</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a></div>
							</div>
						</div>
						<div class="entry_more">
							<a class="entry_more_link">10 reviews - see more</a>
						</div>
					</div>

					<div class="fresh_entry">
						<div class="entry_body">
							<div class="row-fluid">
								<div class="vision_title span10">In Rio for middle class</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a>
								</div>
							</div>
							<div class="vision">
								<span>
									This innovation has a great market in Rio, where half of the people use bicycles because they can not afford oil. the main point would be to make strategic partnership.
								</span>
							</div>
							<div class="supporting_data_title">Supporting data:</div>
							<div class="row-fluid">
								<div class="supporting_data span9 offset1"><i class="icon-chevron-right"></i>&nbsp;70% of bycycle in Rio</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a></div>
							</div>
						</div>
						<div class="entry_more">
							<a class="entry_more_link">10 reviews - see more</a>
						</div>
					</div>

					<div class="fresh_entry">
						<div class="entry_body">
							<div class="row-fluid">
								<div class="vision_title span10">In Rio for middle class</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a>
								</div>
							</div>
							<div class="vision">
								<span>
									This innovation has a great market in Rio, where half of the people use bicycles because they can not afford oil. the main point would be to make strategic partnership.
								</span>
							</div>
							<div class="supporting_data_title">Supporting data:</div>
							<div class="row-fluid">
								<div class="supporting_data span9 offset1"><i class="icon-chevron-right"></i>&nbsp;70% of bycycle in Rio</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a>
								</div>
							</div>
							<div class="row-fluid">
								<div class="supporting_data span9 offset1"><i class="icon-chevron-right"></i>&nbsp;$ 1,300,000 of loss in 2012</div>
								<div class="usefull_vote span2">
									<a class="usefull">+</a>&nbsp;|
									<a class="useless">-</a>
								</div>
							</div>
						</div>
						<div class="entry_more">
							<a class="entry_more_link">10 reviews - see more</a>
						</div>
					</div>
				</div>

				<div class="live_content span8">
					<div class="project_video">
						<iframe width="100%" height="360" src="http://www.youtube.com/embed/F5GnSVOuMy4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					</div>
					<h3 class="project_title">Business main assets</h3>
					<div class="project_pitch_section">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
					</div>
					<h3 class="project_title">Purposes of the livestorming of this business</h3>
					<div class="project_pitch_section">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
					</div>
					<h3 class="project_title">Mentor Michel Santini Value proposition</h3>
					<div class="project_pitch_section">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="span1"></div>
</div>
