<div class="row-fluid projects_stripe">
    <div class="span1"></div>

    <div class="span10">
        <div class="app_column">
            <div class="stripe_title row-fluid">
                    <h3 class="pull-left">Discover the Most Popular Opportunities <span class="title_change"><a href="">See all</a></span> </h3>
            </div>

            <div ng-include src="'/app/views/projects.html'">
            </div>
        </div>
    </div>

    <div class="span1 meta_right">
        <a href="" class="next_button"><i class="icon-chevron-right icon-white"></i></a>
    </div>
</div>