<div ng-controller="ProjectController" class="eb_project small_card">
    <div class="card_body">
        <img src="img/photo-main-default.jpg">
        <h4><a href="#/projects/{{project.id}}"> {{project.project_detail.title}}</a></h4>
        <p class="card_text">
            {{project.project_detail.description}}
        </p>
        <p class="center_me apply_btn">
            <a class="btn btn-warning" href="#/projects/{{project.id}}/apply">APPLY TO OPEN YOUR OWN BRANCH</a>
        </p>
        <p class="center_me bookmark_link">
            <a ng-click="bookmark()" ng-class="getBookmarkClass()">&nbsp;&nbsp;I like opportunities like these</a>
        </p>
    </div>
    <div class="card_footer">
        <table class="center_me" style="width:100%;">
            <tr width="100%">
                <td style="text-align:left;">5 <i class="icon-user"></i></td>
                <td style="text-align:center;"><a href="">See more</a></td>
                <td style="text-align:right;">23 <i class="icon-comment"></i></td>
            </tr>
        </table>
    </div>
</div>
