<div ng-controller="ProjectController" class="eb_project">
	<ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail content">
				<div class="body">
					<a href="#"><img ng-src="{{getImageSrc()}}" alt="project image"></a>
					<h4><a href="#">{{name}}</a></h4>
					<p class="description">{{description}}</p>
					<p><i class="icon-briefcase"></i><em>&nbsp;{{companyName}}</em></p>
				</div>
				
				<div class="footer {{status}}">
					Ends in 8 days
				</div>
				<div class="tags">
					<span class="item income" title="Height Income"></span>
					<span class="item supply" title="Supplier Oriented"></span>
					<span class="item cloud" title="Green Tech"></span>
				</div>
			</div>

		</li>
	</ul>
</div>
