<div ng-controller="ProjectDetailsController" class="eb_project_live">
	<div class="project_timeline">
		<div class="row-fluid">			
			<div class="timeline_steps step1 span2">Business pitch</div>
			<div class="timeline_steps step2 span2">Market Research</div>
			<div class="timeline_steps step3 span2">Partners discovery</div>
			<div class="timeline_steps step4 span2">Product adaptation</div>
			<div class="timeline_steps step5 span2">Customers acquisition</div>
			<div class="timeline_steps step6 span2">Initial launch</div>
		</div>
	</div>
</div>
