<section ng-controller="UserSignupLoginController" class="login-form header_form">
    <form name="LoginForm" class="form-inline controls login_btn" ng-hide="authorisedAccount">
        <input type="email" name="username" placeholder="E-mail" class="input-small" ng-model="account.owner.username"/>
        <input type="password" name="password" placeholder="Password" class="input-small" ng-model="account.owner.password"/>
        <input type="submit" ng-click="login()" class="btn btn-link" value="Login">
    </form>
    <span ng-hide="!authorisationFailed" class="text-error">{{authorisationFailed}}</span>
    <div class="btn-group form-inline controls login_btn" ng-show="authorisedAccount">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span ng-show="authorisedAccount.owner.name">{{authorisedAccount.owner.name}}</span>
            <span ng-hide="authorisedAccount.owner.name">{{authorisedAccount.owner.username}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</section>